h3, h4 {
    text-align: center;
    font-family:'Segoe UI Semibold', sans-serif;
}

body{
    background-color:lightgreen;
}

#screen, #board {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen > * {
    font-family:'Segoe UI Semibold', sans-serif;
    color: green;
}

td {
    width: 15px;
    height: 15px;
    border: 0;
}

.columns {
    background-color: black;
}

.board table, #screen {
    margin-left: 35%;
    margin-top: 3%;
}
 
